SSLOptions +StrictRequire
SSLRequireSSL
ErrorDocument 403 https://www.flippersm.se/

<Files  ~ "\.fil$">
  Order allow,deny
  Deny from all
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^flippersm\.se$ [NC]
  RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>