@font-face {
  font-family: 'YukarimobileRegular';
  src: url('fonts/yukarimobil-webfont.eot');
  src: url('fonts/yukarimobil-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/yukarimobil-webfont.woff') format('woff'),
       url('fonts/yukarimobil-webfont.ttf') format('truetype'),
       url('fonts/yukarimobil-webfont.svg#YukarimobileRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #6df;
}


div#head {
  width: auto;
  background-color: #6df;
}

/* menyn: */

div#menu {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  z-index: 999;
}

#menu #buttons {
  clear: right;
  padding-top: 2em;
  float: right;
}

#menu #buttons a {
  background: url("bilder/layout/button.png");
  padding: 10px 1.4em 10px 1.4em;
  height: 40px;
  margin-left: 0.5em;
  color: #333;
  background-color: #666;
  font: 0.9em Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: solid 1px #777;
  border-right: solid 2px #ccc;
  border-left: solid 2px #666;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 2px 6px #369;
  box-shadow: 0px 2px 6px #369;
  text-shadow: 0px 1px 3px #fff;
}

#menu #buttons a.link {
  color: #039;
}

#menu #buttons a.link:hover {
  -moz-box-shadow: 0px 3px 8px #369;
  box-shadow: 0px 3px 8px #369;
}

#menu #submenu1 {
  float: right;
  padding-top: 2em;
  margin-bottom: 10px;
  clear: right;
}

#menu #submenu1 a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.06em;
  font: 1.05em Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#menu #submenu1 a:before {
  content: " // ";
}

#head #tagline {
  float: right;
  padding-top: 1em;
  color: #000;
  font: 1.15em Arial, sans-serif;
}

/* loggan: */

div#logo {
  border: 0px;
  position: absolute;
  left: -10px;
  top: 10px;
}

#logo img {
  border: 0px;
  height:192px;
}

/* main: */

div#content {
  position: relative;
  clear: both;
  width: 1200px;
  margin: 0 auto;
  background-color: #cef;
}

#content h1, #content h2, #content h3, #content label {
  text-align: left;
  font: 1.3em Arial, sans-serif;
  color: #000;
  margin: 0.5em 15px 1em 15px;
  font-weight: bold;
  text-transform: uppercase;
}

#content h1 {
  color: #000;
  width: calc(100% - 140px);
  font: 3em YukarimobileRegular;
  margin-bottom: 0.4em;
  padding-top: 1.8em;
  letter-spacing: 0.1em;
  text-transform: none;
}

#content h2, #content h3, #content label {
  text-align: left;
  margin: 0 15px 0.2em 15px;
}

#content h3, #content label {
  font-size: 0.9em;
  text-transform: none;
}

#content h2 {
  letter-spacing: 0.05em;
  margin-top: 1em;
}

#content p + h3 {
  padding-top: 1em;
  margin: 0 15px 0 15px;
}

#content p, #content li, #content dd, #content dt {
  font: 1em Georgia, Helvetica, sans-serif;
  line-height: 1.5em;
  color: #000;
  margin: 0.5em 15px 0.5em 15px;
}

#content p.submenu2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 1em;
}

#content p.submenu2 a {
  color: #000;
  margin-right: 0.4em;
}

#content p.submenu2 a:hover {
  color: #666;
}

#content #leftInfoDiv p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#content #leftInfoDiv span {
  font: 0.9em Arial, sans-serif;
  font-weight: bold;}

#content a {
  color: #555;
}

#content a:hover {
  color: #777;
}

#content li, #content dd, #content dt {
  list-style: disc inside;
  margin-top: 0;
  margin-bottom: 0;
}

#content ol li {
  list-style-type: decimal;
}

#content hr {
  background-color: #000;
  margin: 0.9em 15px 0.9em 15px;
  height: 0.2em;
  border: 0;
}

#content strong {
  color: #000;
}

#content input[type="text"], #content select, #content input[type="password"], #content textarea {
  background-color: #fff;
  padding: 0.2em;
  border: solid 0.2em #000;
}

#content input[type="text"], #content input[type="password"] {
  width: 300px;
  height: 20px;
}

#content select {
  width: 309px;
  height: 29px;
}

#content input[type="submit"], #content input[type="button"], #content button, #loggedInOut input[type="submit"], #loggedInOut input[type="button"], #loggedInOut button {
  background-color: #CCCCCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #EEEEEE;
  padding: 2px 5px 2px 5px;
}

#content input[type="submit"]:disabled, #content input[type="button"]:disabled, #content button:disabled {
  background-color: #EEEEEE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
  color: #AAAAAA;
  text-decoration: none;
  cursor: default;
  border: 1px solid #AAAAAA;
  padding: 2px 5px 2px 5px;
}

#content input[type="submit"]:hover, #content input[type="button"]:hover, #content button:hover {
  background: #66ddff;
  box-shadow: 0px 0px 1px #777;
  border: 1px solid #FFFFFF;
}

#content input[type="submit"]:disabled:hover, #content input[type="button"]:disabled:hover, #content button:disabled:hover {
  background-color: #EEEEEE;
  box-shadow: none;
  border: 1px solid #AAAAAA;
}

#content img {
  max-width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  padding: 0 15px 1.5em 15px;
}

div.spalt, div.bred {
  width: 50%;
  float: left;
}

div.bred {
  width: 100%;
}

#luft {
  padding: 1.5em 0 4em 1.5em;
}

div.kvart {
  width: 21%;
  margin: 1.5em 1em 1em 1em;
  border: 0.5em dotted red;
  background-color: white;
  padding: 3em 0 0 0;
  float: left;
  height: 30em;
  position: relative;
}

#content .kvart table {
  margin: 1em;
  width: 90%;
  cellspacing: 0;
  border-collapse: collapse;
  position: absolute;
  bottom: 1em;
}

#content .kvart td {
  color: #000;
}

#content .kvart th {
  color: red;
  background-color: #000;
}

#content .kvart h3 {
  font-size: 0.9em;
  color: red;
}

.clearboth {
  clear: both;
}

.spaltbild {
  max-width:100%;
}

.tshirt {
  margin: 0 1.5em 3em 1.5em;
  float: left;
}

.stapel {
  width: 30em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  float: left;
}

.percent {
  height: 1em;
  background: #133b5a;
}

.nyhet {
  font-family: Arial, Helvetica, sans-serif;
  color: #800;
  font-size: 0.9em;
  font-weight: bold;
}

label {
  font: 0.9em Arial, Helvetica, sans-serif;
  display: block;
  margin: 1em 0 0 1em;
}

input, select {
  margin: 0 0 0.8em 15px;
}

#content #captcha img {
  margin:0;
  padding:0;
}

#content .tshirtform select, #content .tshirtform strong {
  float: left;
}

.hidden {
position: absolute;
left: -9999px;
top: -9999px;
}

/* tabeller: */

#content .spalt #smal {
  margin: 1em;
  width: 50%;
  cellspacing: 0;
  border-collapse: collapse;
  padding: 0px 20px 0px 20px;
}

#content table {
  width: calc(100% - 30px);
  margin: 0.5em 15px 0.5em 15px;
  border-collapse: collapse;
  font: 0.9em Arial, Helvetica, sans-serif;
  border: 2px solid #000;
}

#content table th a {
  color: #fff;
  cursor: pointer;
}

/* Zebra striping */

tr:nth-of-type(odd) {
  background: #6df;
}

th {
  background: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

td, th {
  padding: 6px;
  border: 2px solid #000;
  border-top: 0px;
  border-bottom: 0px;
  text-align: left;
}

#slides {
  display: none
}

.container {
  margin: 0 auto
  width: 1170px
}

.hidden {
position: absolute;
left: -9999px;
top: -9999px;
}



#content img.palle {max-width: 250px;}

#jubileum {
	position: absolute;
	right: 20px;
	top: -10px;
	width: 111px;
	height: 139px;
	background: url("bilder/layout/jubileum.png");
	}


/* smŒ skŠrmar: */

@media only screen and (max-device-width: 1200px), (max-width: 1200px) {

  div#head, div#menu, div#content {
    width: 100%;
    margin: 0;
  }

  #menu #tagline, #menu #buttons, #menu #submenu1 {
    padding-right: 15px;
  }

  div#logo {
    position: absolute;
    float: left;
    margin-left: 10px;
    width: 290px;
    border: 0px;
  }

  @media only screen and (max-device-width: 780px), (max-width: 780px) {
  
	#jubileum {
	  display: none;
	}
	
    div#logo {
      position: relative;
      height: 190px;
      border: 0px;
    }

    #content h1 {
      width: auto;
      font-size: 2em;
      padding-top: 0.5em;
    }

    div#menu {
      width: auto;
      height: 13.5em;
    }

    div#menu #buttons {
      position: absolute;
      padding-top: 0em;
      text-align: right;
      top: 30px;
      right: 15px;
    }

    div#menu #buttons a {
      padding: 0.6em 0.8em 0.6em 0.8em;
      margin-right: 0.2em;
      display: block;
      width: 9.5em;
      height: 1em;
      margin-top: 0.4em;
      text-align: center;
    }

    div#menu #submenu1 {
      width: auto;
      text-align: right;
    }

    #head #tagline {
      width: auto;
      text-align: center;
      padding: 0.2em 0 0.2em 0;
      background: #000;
      color: #fff;
      float: none;
    }

    div.spalt, div.bred {
      float: none;
      width: 100%;
    }
    
    #content .section {
    width: 100%;
    margin: 0;
    padding: 0;
    }

    /* Force table to not be like tables anymore */
    #content table.result, #content table.registered, #content table.volunteer, #content table.standings, #content #ifpaRegResultsTable {
      border: 0;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    table.result , table.registered , table.standings, #ifpaRegResultsTable, .result thead, .registered thead, .standings thead, #ifpaRegResultsTable thead, .result  tbody, .registered  tbody, .standings  tbody, #ifpaRegResultsTable  tbody, .result th, .registered th, .standings th, #ifpaRegResultsTable th, .result td, .registered td, .standings td, #ifpaRegResultsTable td, .result  tr, .registered  tr, .standings  tr, #ifpaRegResultsTable  tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .result th, .registered th, .standings th, #ifpaRegResultsTable th {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    .registered tr.header, .result tr.header, .standings tr.header, #ifpaRegResultsTable tr.header {position: absolute;
    left: -9999px;
    top: -9999px;}

    .result td, .registered td, .volunteer td, .standings td, #ifpaRegResultsTable td {
      border: 0;
      font-size: 1.05em;
    }

    .result tr, .registered tr, .volunteer tr, #ifpaRegResultsTable tr {
      position: relative;
      border: 0;
      height: 3.6em;
    }
    
    .standings tr {
      position: relative;
      border: 0;
      height: 8em;
    }
    
    
    
    #ifpaRegResultsTable td:nth-of-type(1) {
      position: absolute;
      left: 0em;
      top: 0em;
      width: 2.5em;
      font-weight: bold;
      text-align: right;
      text-transform: uppercase;
      padding-right: 0.8em;
    }

    #ifpaRegResultsTable td:nth-of-type(2) {
      position: absolute;
      left: 5.5em;
      top: 0em;
      width: 13em;
      font-weight: bold;
      text-align: left;
      padding-right: 0.8em;
    }

    #ifpaRegResultsTable td:nth-of-type(3) {
      position: absolute;
      top: 0em;
      right: 0.2em;
    }

    #ifpaRegResultsTable td:nth-of-type(4) {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    #ifpaRegResultsTable td:nth-of-type(5) {
      position: absolute;
      top: 1.6em;
      left: 5.5em;
    }

    #ifpaRegResultsTable td:nth-of-type(6) {
      position: absolute;
      top: 1.6em;
      right: 0.2em;
      text-align: right;
    }


    #ifpaRegResultsTable td:nth-of-type(5):before {
      content: "IFPA: ";
    }

    
    
    .registered td:nth-of-type(1) {
      position: absolute;
      left: 0em;
      top: 0em;
      width: 2.5em;
      font-weight: bold;
      text-align: right;
      text-transform: uppercase;
      padding-right: 0.8em;
    }

    .registered td:nth-of-type(2) {
      position: absolute;
      left: 4em;
      top: 0em;
      width: 13em;
      font-weight: bold;
      text-align: left;
      padding-right: 0.8em;
    }

    .registered td:nth-of-type(3) {
      position: absolute;
      top: 0em;
      right: 0.2em;
    }

    .registered td:nth-of-type(4) {
      position: absolute;
      top: 1.6em;
      right: 0.2em;
    }

    .registered td:nth-of-type(5) {
      position: absolute;
      top: 1.6em;
      left: 16em;
    }

    .registered td:nth-of-type(6) {
      position: absolute;
      top: 1.6em;
      left: 10em;
    }

    .registered td:nth-of-type(7) {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .registered td:nth-of-type(8) {
      position: absolute;
      left: 4em;
      margin-top: 1.6em;
    }

    .registered td:nth-of-type(5):before {
      content: "IFPA: ";
    }

    .registered td:nth-of-type(6):before {
      content: "Classics: ";
    }

    .registered td:nth-of-type(8):before {
      content: "Betalat: ";
    }


    .standings td:nth-of-type(1) {
      position: absolute;
      left: 0.2em;
      top: 0em;
      font-size: 2em;
      font-weight: bold;
      text-align: right;
      padding-right: 0.8em;
    }

    .standings td:nth-of-type(2) {
      position: absolute;
      top: 0em;
      left: 3.5em;
    }

    .standings td:nth-of-type(3) {
      position: absolute;
      left: 18em;
      top: 0em;
      width: 2.5em;
      text-align: right;
      padding-right: 0.8em;
    }

    .standings td:nth-of-type(4) {
      position: absolute;
      top: 0em;
      right: 0.2em;
      }
      
    .standings td:nth-of-type(5) {
      position: absolute;
      top: 1.6em;
      right: 0.2em;
    }


    .standings td:nth-of-type(4):after {
      content: " kvalpoäng";
    }
    
    .standings td:nth-of-type(5):before {
      content: "Här: ";
    }

    .result td:nth-of-type(1) {
      position: absolute;
      left: 0em;
      top: 0em;
      width: 2.5em;
      font-weight: bold;
      text-align: right;
      padding-right: 0.8em;
    }

    .result td:nth-of-type(2) {
      position: absolute;
      top: 1.6em;
      right: 0.2em;
    }

    .result td:nth-of-type(3) {
      position: absolute;
      left: 0em;
      top: 1.6em;
      width: 2.5em;
      font-weight: bold;
      text-align: right;
      padding-right: 0.8em;
    }

    .result td:nth-of-type(4) {
      float: left;
      margin-top: 0em;
      margin-left: 4em;
      font-weight: bold;
    }
    .result td:nth-of-type(5) {
      float: left;
      margin-top: 0em;
    }

    .result td:nth-of-type(6) {
      position: absolute;
      top: 1.6em;
      left: 3.6em;
    }

    .result td:nth-of-type(2):after {
      content: "kvalpoäng";
    }

    .result td:nth-of-type(1) {
      position: absolute;
      left: 0em;
      top: 0em;
      width: 2.5em;
      font-weight: bold;
      text-align: right;
      padding-right: 0.8em;
    }

    .result td:nth-of-type(2) {
      position: absolute;
      top: 1.6em;
      right: 0.2em;
    }

    .result td:nth-of-type(3) {
      position: absolute;
      left: 0em;
      top: 1.6em;
      width: 2.5em;
      font-weight: bold;
      text-align: right;
      padding-right: 0.8em;
    }

    .result td:nth-of-type(4) {
      float: left;
      margin-top: 0em;
      margin-left: 4em;
      font-weight: bold;
    }
    .result td:nth-of-type(5) {
      float: left;
      margin-top: 0em;
    }

    .result td:nth-of-type(6) {
      position: absolute;
      top: 1.6em;
      left: 3.6em;
    }

    .result td:nth-of-type(2):after {
      content: " kvalpoäng";
    }
  }

  .container {
    width: auto
  }

  @media only screen and (max-device-width: 460px), (max-width: 460px) {
  
    .registered td:nth-of-type(4) {
      position: absolute;
      top: -9999px;
      right: -9999px;
    }

    .result td:nth-of-type(2):after {
      content: " p";
    }
    
    .standings td:nth-of-type(4):after {
      content: " p";
    }
    
    #menu #tagline, #menu #buttons, #menu #submenu1 {
      padding-right: 0px;
    }

    div#logo {
      right: 0;
      left: 0;
      margin: 0px auto;
      float: none;
      padding-left: 20px;
      border: 0px;
    }
    
  	div#head, div#menu {
  	position:relative;
  	margin: 0;
    padding: 0;
  	width: 100%;
  	}

    div#menu #buttons {
      right: 0;
      position: relative;
      width: 100%;
      line-height: 2.5em;
      top: 20px;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    div#menu #buttons a {
      width: auto;
      display: inline;
      margin: 0px auto;
    }

    div#menu #submenu1 {
      text-align: center;
    }
    
    
	#content input[type="text"], #content input[type="password"] {
	  width: calc(100% - 50px);
	  height: 20px;
	}

    .container {
      width: auto
    }
  }
}

#content .invisible, #content input.invisible, #content select.invisible, #content p.invisible, #content span.invisible {
  display: none;
}

#content .italic, #content p.italic, #content span.italic, #content .comment, #content p.comment, #content span.comment {
  font-style: italic;
}

#content .bold, #content p.bold, #content span.bold {
  font-weight: bold;
}

#content .mandatory, #content input.mandatory, #content select.mandatory {
  background-color: #FFFF00;
}

#content .yellow, #content input.yellow, #content select.yellow, #content span.yellow, #content p.yellow {
  background-color: #FFFF00;
}

#content .green, #content input.green, #content select.green, #content span.green, #content p.green {
  background-color: #00FF00;
}

#content .red, #content input.red, #content select.red, #content span.red, #content p.red {
  color: #FF0000;
}

#content .error {
  color: #FF0000;
  font-style: bold;
}

#content .errorSpan {
  font-size: 75%;
  margin-left: 10px;
}

#content .errorTd {
  background-color: #FF0000;
}

#content .toolTip {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  border: solid 1px black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 999;
}

#content input#ifpaButton {
  float: left;
  margin-right: 20px;
}

#content div#ifpaButtonDiv {
  display: none;
}

#content div#newButtonDiv {
  display: none;
}

#content input#newButton {
  float: left;
  margin-right: 20px;
}

#content p#noHits {
  display: none;
}

#content form#newData {
  clear: left;
}

#content img.icon {
  position: relative;
  width: 26px;
  height: 16px;
  top: 2px;
  padding: 0px 0px 0px 10px;
  cursor: pointer;
}

#content #countryDiv {
  display: none;
}

#content #continentDiv {
  display: none;
}

#content #imageUpload {
  width: 1px;
  height: 1px;
}

#content form#imageForm {
  float: right;
}

#content div.leftInfoDiv {
  float: left;
}

#content label.infoLabel {
  float: left;
  width: 150px;
}

#content label.payLabel {
  float: left;
  width: 225px;
}

#content img.objectPhoto {
  max-width: 400px;
  margin: 10px;
}

#content div.qualGroupTable {
  float: left;
  margin-left: 15px;
  margin-right: 5px;
}

#content input.qualGroupRadio, #content input.qualGroupCheckbox {
  margin-right: 10px;
  margin-left: 0px;
}

#content select.tshirtSelect {
  width: auto;
  margin-right: 15px;
  margin-left: 5px;
}

#content input.payInput {
  width: auto;
  size: 3em;
  margin-right: 15px;
  margin-left: 5px;
}

#content span.schedule {
  display: inline-block;
  width: 100px;
}

#content img.right, #content div.right, #content p.right, #content span.right, #content iniput.right, #content label.right, #content select.right {
  float: right;
}

#content div#tabs {
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  background: none;
}

#content div#tabs ul li.tabs {
  float: left;
  margin: 0px;
  list-style: none;
}

#content div#tabs ul li.tabs h2 {
  margin: 0px 10px 0px 10px;
  text-transform: none;
}

#content div#tabs ul.ui-widget-header {
  background: #CDEEFF;
  border: none;
}

#content div#tabs div.ui-widget-content {
  background: #CDEEFF;
  border: 1px solid #66DDFF;
}

#content div#tabs li.ui-state-default {
  background: #66DDFF;
  border: 1px solid #FFFFFF;
}

#content div#tabs li.ui-state-hover {
  border: 1px solid #77d5f7;
  background: #20a8c9;
}

#content div#tabs li.ui-state-active {
  background: #CDEEFF;
  border: 1px solid #66DDFF;
}

#content div#tabs li.ui-state-active a:focus {
  outline: none;
}

#content p.fluid-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

#content p.fluid-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#content img.social {
  width: 90px;
  padding: 0 5px 0 5px;
}


#content div.volTime {
  width: 100px;
}

#content input.volCheckbox {
  margin: 0;
}

#content .volTable {
	margin-left: 15px;
	display: table;
	width: calc(100% - 30px);
}

#content .volPeriod {
	margin: 0px 15px 0pc 15x;
	width: calc(100% - 30px);
	display: table-row;
}

#content .volPeriod:nth-of-type(odd) {
  background: #6df;
}


#content .volTime, #content .volDiv {
    display: table-cell;
}

#content div.curCalc select {
  width: 75px;
  margin: 0px 0px 0px 5px
}

#content div.curCalc label {
  display: inline;
  margin: 0px 0px 0px 15px
}

#content span.arriveTshirts {
  display: inline-block;
  width: 320px;
}