* {padding: 0;
margin: 0;
border: 0;}

body {background-color: #e11;}

/* menyn: */

div#menu {width: 900px;
padding-top: 10px;
margin: 0px auto;
text-align: center;}

#menu a {display: inline;
height: 30px;
padding: 4px 15px 4px 15px;
color: #222;
background-color: #fc0;
font: 12px verdana;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;}

#menu a:hover {background-color: #ee4;}


/* loggan: */

div#logo {text-align: center;
height: 128px;
padding-top: 22px;}


/* main: */

div#content {width: 760px;
margin: 0px auto;
padding: 20px;
background: #fc0;}

#content h1, #content h2, #content h3 {text-align: center;
font: 20px arial;
color: #000;
margin-top: 5px;
margin-bottom: 15px;
font-weight: bold;
text-transform: uppercase;}

#content h1 {color: #000;}

#content h2 {color: #222;}

#content h2, #content h3 {text-align: left;
margin-bottom: 5px;
padding-left: 2px;
padding-right: 2px;}

#content h3 {font-size: 15px;
text-transform: none;}

#content p + h3 {padding-top: 10px;}

#content p, #content li {font: 12px arial;
margin-top: 5px;
margin-bottom: 5px;
padding-left: 5px;
padding-right: 2px;}

#content p.undermenu {text-align: center;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;}

#content p.undermenu a {color: #222;}

#content p.undermenu a:hover {color: #000;}

#content a {color: #800;}

#content li {list-style: disc inside;
margin-top: 0px;
margin-bottom: 0px;}

#content hr {background-color: #fc0;
height: 12px;
border: 0px;}

#content strong {color: #222;}

#content input[type="text"], #content textarea {background-color: #eee;
padding: 2px;
border: solid 1px #000;}

div.spalt, div.bred {width: 360px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
float: left;
background: #ccf;}

div.bred {width: 740px;}

.clearboth {clear: both;}

.spaltbild {width: 360px;}

.tshirt {margin: 0px 20px 10px 20px;
float: left;}

.stapel {width: 100px;
padding-left: 3px;
padding-right: 5px;
float: left;}

.percent {height: 10px;
background: #e11;}


/* tabeller: */

#content table {margin: 10px;
width: 740px;
cellspacing: 0px;
border-collapse: collapse;}

#content td, #content th {font: 12px arial;
color: #222;
height: 20px;
padding-left: 2px;
border-bottom: 2px solid #ccf;}

#content th {color: #000;}

#content th {background-color: #ccf;
text-align: left;
font-weight: bold;
margin-bottom: 10px;}
