body, table {background-color: #515151;
             font-family: Century gothic, Verdana;
             font-size: 16px;
             font-weight: bold;
             color: #89E93B;
             padding: 5px;}  /* annan röd fontfärg: #922020 */

table.tabell {border-width: 1px;
             border-style: none;
             border-color: #FFD800;
             border-collapse: collapse;}

table.tabell td {border-width: 1px;
             border-style: solid;
             border-color: #FFD800;
             padding: 5px;}


.nytext {color: #FFCECE;}


a:link {color: #FFD800; font-weight: bold;}    /* gamla blå: #3388ff */
a:visited {color: #FFD800; font-weight: bold;}
a:active {color: #dddddd; font-weight: bold;}