body {background-color: #1b2740;}

* {margin: 0;
padding: 0;
border: 0;}

#meny a {margin-top: 8px;
padding-left: 0px;
padding-top: 1px;
width: 145px;
height: 21px;
background: url("bilder/layout/knapp.gif") #574a4e;
color: #fff;
font-size: 13px;
font-weight: bold;
font-family: arial, helvetica, sans-serif;
vertical-align: middle;
text-decoration: none;
display: block;}

#meny a:hover {text-decoration: underline;
color: #574a4e;
background-color: #fff;}

#meny p {padding-left: 5px;}

#undermeny a {padding-left: 0px;
padding-top: 0px;
margin-top: 0px;
margin-left: 4px;
width: 133px;
height: 16px;
background-color: #fff;
color: #000;
font-size: 13px;
font-weight: normal;
font-family: arial, helvetica, sans-serif;
vertical-align: middle;
text-decoration: none;
display: block;}

#undermeny a:hover {color: #000;
text-decoration: underline;
background-color: #9ca3a7;}

#sida a {color: #fff;
text-decoration: underline;}

#sida a:hover {text-decoration: none;}

#sponsor a {color: #000;
text-decoration: underline;}

#sponsor a:hover {text-decoration: none;}

hr {width: 420px;
height: 5px;
background-color: #574a4e;
text-align: left;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;}

/* ----- divvar ----- */

div.huvud {position: absolute;
left: 16px;
top: 5px;}

div.meny {position: absolute;
top: 142px;
left: 25px;}

#undermeny {background-color: #9ca3a7;
padding-top: 0px;
padding-bottom: 4px;
margin-top: 0px;
margin-left: 3px;
width: 142px;}

div.sida {position: absolute;
left: 190px;
top: 150px;
width: 535px;
background-color: #9ca3a7;
margin-bottom: 20px;}

div.sponsor {position: absolute;
top: 150px;
left: 750px;
width: 160px;
background-color: #fff;
text-align: center;
font-family: arial, hevetica, sans-serif;
font-size: 12px;
line-height: 13px;
font-weight: bold;
padding-top: 6px;
padding-bottom: 10px;}

div.marginal {width: 535px;
height: 15px;
background-color: #1b2740;}


/* ----- styckeformat ----- */

#sida h1 {font-family: impact, arial, sans-serif;
font-weight: normal;
font-size: 30px;
padding-left: 10px;
padding-top: 1px;
color: #574a4e;
width: 400px;
text-transform: uppercase;
letter-spacing: 0.05em;
margin-top: 5px;}

#sida h2 {font-family: arial, helverica, sans-serif;
font-size: 18px;
line-height: 22px;
font-weight: bold;
margin-left: 10px;
margin-top: 7px;
margin-bottom: -7px;
width: 420px;
color: #000000;}

#sida h3 {font-family: arial, helverica, sans-serif;
font-size: 14px;
line-height: 18px;
font-weight: bold;
margin-left: 10px;
margin-top: 7px;
margin-bottom: -7px;
width: 420px;
color: #000000;}

#sida p {font-family: arial, sans-serif;
font-size: 11px;
line-height: 17px;
margin-top: 5px;
width: 420px;
padding-left: 10px;}

#sida p.rubrik {font-family: arial, sans-serif;
font-size: 21px;
line-height: 25px;
width: 420px;
padding-left: 10px;
font-weight: bold;}

#regler p {margin-top: 10px;}

#regler h1 {margin-top: 10px;}

#regler h2 {margin-top: 10px;}

#regler h3 {margin-top: 10px;}

#regler ul {margin-top: 10px;
list-style-type: disc;
list-style-position: inside;
font-family: arial, helverica, sans-serif;
font-size: 11px;
line-height: 17px;
width: 420px;
padding-left: 10px;}

#regeltabell p {margin-top: 10px;}

#regeltabell h1 {margin-top: 10px;}

#regeltabell h2 {margin-top: 10px;}

#regeltabell h3 {margin-top: 10px;}

#regeltabell ul {margin-top: 10px;
list-style-type: disc;
list-style-position: inside;
font-family: arial, helverica, sans-serif;
font-size: 11px;
line-height: 17px;
width: 420px;
padding-left: 10px;}

#sponsor img {margin-top: 10px;
border: 0px;}

#sida table {font-family: arial, sans-serif;
margin-left: 5px;
border: 0px;
font-size: 11px;}

#regler table {font-family: arial, sans-serif;
margin-left: 10px;
margin-top: 10px;
border: 1px solid;
width: 420px;
font-size: 11px;}

.regler td {border: 1px solid;
height: 15px;
padding-left: 2px;}

.regler th {text-align: left;
border: 1px solid;
height: 15px;
padding-left: 2px;}

.regler tr {text-align: left;
border: 1px solid;
height: 10px;
width: 70px;}

#regeltabell p {width: auto;}

.schema {width: 420px;
padding-left: 2px;
margin-top: 20px;
margin-bottom: 20px;
border-collapse: collapse;
border-spacing: 0px;
table-layout: auto;}

.schema td {background: #fff;
border-width: 8px 0px 0px 0px;
border-style: solid;
border-color: #9ca3a7;
height: 15px;
font-size: 11px;}

.schema tr {padding-left: 15px;}

.schema th {text-align: left;}

.resultat {width: 420px;
margin-top: 20px;
margin-bottom: 20px;
border-collapse: collapse;
border-spacing: 0px;
table-layout: auto;}

.resultat td {background: #fff;
border-width: 8px 0px 0px 0px;
border-style: solid;
border-color: #9ca3a7;
height: 15px;}

.resultat th {text-align: left;}

.resultatbred {width: 525px;
margin-top: 20px;
margin-bottom: 20px;
border-collapse: collapse;
border-spacing: 0px;
table-layout: auto;}

.resultatbred td {background: #fff;
border-width: 8px 0px 0px 0px;
border-style: solid;
border-color: #9ca3a7;
height: 15px;
font-size: 9px;}

.resultatbred th {text-align: left;
font-size: 9px;}

#galleri p {font-style: italic;
line-height: 12px;
padding-top: 0px;
padding-bottom: 10px;}

#galleri img {margin-left: 10px;
padding-top: 5px;}

img {border: 0px;}

#sponsor img {padding-bottom: 5px;}

#sponsor span {text-decoration: none;}

.form {font-family: arial, sans-serif;
width: 200px;
font-size: 11px;}

.formfel {font-family: arial, sans-serif;
width: 200px;
background-color: #ffcc99;
font-size: 11px;}

.ljusare {background-color: #fff;}

table.tabell {width: 420px;}