* {padding: 0;
margin: 0;
border: 0;}

body {background-color: #fff;}

/* menyn: */

div#menu {width: 900px;
padding-top: 10px;
margin: 0px auto;
text-align: center;}

#menu a {display: inline;
height: 50px;
padding: 4px 12px 8px 12px;
color: #ddd;
background-color: #000;
font: 'Ropa Sans', sans-serif;
font-weight: bold;
text-decoration: none;
border-radius: 8px 8px 0 0; 
-moz-border-radius: 8px 8px 0 0;}

#menu a:hover 
{
	background-color: #aaa; 
	color: red;}


/* loggan: */

div#logo {text-align: center;
height: 150px;
padding: 10px;}


/* main: */

div#content {width: 760px;
margin: 0px auto;
padding: 20px;
background: black;
border-radius: 40px 0 0 40px;
-moz-border-radius: 40px 0 0 40px;}

#content h1, #content h2, #content h3 {text-align: center;
font: 20px, 'Ropa Sans', sans-serif;
color: black;
margin-top: 5px;
margin-bottom: 15px;
font-weight: bold;
text-transform: uppercase;}

#content h1 {color: #fff;}

#content h2 {
	color: black;
	background:url('bilder/layout/star1.png') no-repeat;
	text-indent: 25px; }

#content h2, #content h3 {text-align: left;
margin-bottom: 5px;
padding-left: 2px;
padding-right: 2px;}

#content h3 {font-size: 15px;
text-transform: none;}

#content p + h3 {padding-top: 10px;}

#content p, #content li, #content dd, #content dt {font: 13px arial;
margin-top: 5px;
margin-bottom: 5px;
padding-left: 5px;
padding-right: 2px;}

#content p.undermenu {
color: #ddd;
text-align: center;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;}

#content p.undermenu a {color: #ddd;}

#content p.undermenu a:hover {color: #fff;}

#content a {color: #800;}

#content li, #content dd, #content dt {list-style: disc inside;
margin-top: 0px;
margin-bottom: 0px;}

#content hr {background-color: black;
height: 18px;
border: 0px;}

#content strong {color: black;}

#content input[type="text"], #content textarea {background-color: #eee;
padding: 2px;
border: solid 1px #000;}

#content #rod {
background-color: red; }

div.spalt, div.bred {width: 360px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
float: left;
background: #fff;}

div.bred {width: 740px;}

div.kvart {
width: 21%;
margin: 20px 10px 10px 10px;
border: 5px dotted red;
border-radius: 100px 100px 0 0;
-moz-border-radius: 10px;
background-color: white;
padding: 60px 0 0 0;
float: left; 
height: 400px;
position: relative;}

#content .kvart table {
margin: 10px;
width: 90%;
cellspacing: 0px;
border-collapse: collapse;
position: absolute;
bottom: 10px;}

#content .kvart td {
color: black; }

#content .kvart th {
color: red;
background-color: black; }

#content .kvart h3 {
font-size: 18px;
color: red;}

.clearboth {clear: both;}

.spaltbild {width: 360px;}

.tshirt {margin: 0px 20px 60px 20px;
float: left;}

.stapel {width: 100px;
padding-left: 3px;
padding-right: 5px;
float: left;}

.percent {height: 10px;
background: #133b5a;}

.nyhet {font-family: arial;
	color: #800;
	font-size: 14px;
	font-weight: bold;}

label {
font: bold 14px/18px 'Arial', sans-serif;
display: block; 
margin: 10px 0 0 8px; }

input {
margin: 0 0 0 8px; }

/* tabeller: */

#content table {margin: 10px;
width: 740px;
cellspacing: 0px;
border-collapse: collapse;}

#content td, #content th {font: 12px arial;
color: #ddd;
height: 20px;
padding-left: 2px;
border-bottom: 2px solid #ddd;}

#content tr .marked {
background-color: yellow; }

#content th {color: red;}

#content th {background-color: white;
text-align: left;
font-weight: bold;
margin-bottom: 10px;}
