#gameInfoMachine_id
{
	color:red;
}
#gameInfoShortName
{
	color:black;
}
#gameInfoBalls
{
	color:blue;
}
#gameInfoDivision
{
	color:blue;
}
#gameInfoExtraBalls
{
	color:blue;
}
#gameInfoOnePlayerAllowed
{
	color:blue;
}
#gameInfoComment
{
	color:blue;
}
#gameScan
{
}
