@font-face {
  font-family: 'YukarimobileRegular';
  src: url('../fonts/yukarimobil-webfont.eot');
  src: url('../fonts/yukarimobil-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/yukarimobil-webfont.woff') format('woff'),
       url('../fonts/yukarimobil-webfont.ttf') format('truetype'),
       url('../fonts/yukarimobil-webfont.svg#YukarimobileRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#gameInfoMachine_id {
	position: absolute;
	left: 475px;
	top: 550px;
	font: bold 2em arial;
}

#gameInfoShortName {
	position: absolute;
	width: 260px;
	left: 50px;
	top: 430px;
	font: bold 4.5em arial;
}

#allComments {
	position: absolute;
	left: 420;
	top: 40px;
	font: 1.5em arial;
	line-height: 1.5em;
	width: 260px;
	text-align: right;
}

#allComments div {
	margin-top: 0.3em;
}

#gameInfoBalls {
}

#gameInfoDivision {
	position: absolute;
	left: 30px;
	top: -170px;
	font: 40em YukarimobileRegular;
	margin-left: 0.03em;
}

#gameInfoExtraBalls {
}

#gameInfoOnePlayerAllowed {
}

#gameInfoComment {
}

#logo {
	position: absolute;
	left: 490px;
	top: 815;
	width: 200px;
}

#gameScan {
	position: absolute;
	left: 30px;
	top: 540px;

}
