SSLOptions +StrictRequire
SSLRequireSSL 
ErrorDocument 403 https://www.europinball.org/wordpress
AuthType Basic
AuthName "If not authorized - keep out!"
AuthBasicProvider external
AuthExternal pwauth
AuthzUnixgroup on
require group epcstaff

RewriteEngine On
RewriteRule ^wordpress/list/player.php$ /2013/player.php [L,QSA]

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress/index.php [L]
</IfModule>

