.hidden {
  display: none;
}

.italic {
  font-style: italic;  
}

.bold {
  font-weight: bold;  
}

.right {
  float: right;
}

.nowrap {
  white-space: nowrap;
}

.inlineBlock {
  display: inline-block;
}

#loginFooter {
  border-top: 1px solid #ddd;
  padding: 1.625em 5%;
}