.hidden {
  display: none;
}

.italic {
  font-style: italic;  
}

.bold {
  font-weight: bold;  
}

.right {
  float: right;
}

.nowrap {
  white-space: nowrap;
}

.inlineBlock {
  display: inline-block;
}

#loginFooter {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 15px;
}

#editDiv {
  width: 500px;
}

.label {
  font-weight: bold;
  font-size: 10px;
  width: 150px;
}