div #topper {
  position: relative;
  width: 100%;
  height: 170px;
}

div #topperLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 170px;
  background: url('../images/topperLeft.png') no-repeat left top;
}

div #topperRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 170px;
  background: url('../images/topperRight.png') no-repeat right top;
}

div #topperBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 119px;
  background: url('../images/topperBottom.png') repeat-x left bottom;
}

img.icon {
  position: relative;
  top: 3px;
  height: 1em;
  cursor: pointer;
  margin-left: 5px;
}

.link {
  cursor: pointer;
  text-style: underline;
}

img.textIcon {
  position: relative;
  height: 1em;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.invisible {
  display: none;
}

.comment {
  font-style: italic;
}

.italic {
  font-style: italic;  
}

.bold {
  font-weight: bold;  
}

#ifpaIdTextDiv {
  float: left;
  margin-right: 20px;
}

#ifpaButton {
  float: left;
  margin-right: 20px;
}

#ifpaButtonDiv {
  display: none;
}

#newButtonDiv {
  display: none;
}

#newButton {
  float: left;
  margin-right: 20px;
}

#noHits {
  display: none;
}

#newData {
  clear: left;
}

#noHits {
  display: block;
  clear: left;
}

#ifpaRegResults {
  margin-top: 20px;
}

li {
  display: block;
}

#usernameTextSpan {
  font-style: italic;
}

.mandatory {
  background-color: #FFFF00 !important;
}

.error {
  color: #FF0000;
  font-style: bold;
}

.errorSpan {
  font-size: 75%;
  margin-left: 10px;
}

.errorTd {
  background-color: #FF0000;
}

.ui-datepicker {
  z-index: 9999; 
}

.preview {
  width: 400px;
}

#imageUpload {
  width: 1px;
  height: 1px;
}

.leftInfoDiv {
  float: left;
}

.periodTable {
  float: left;
}

.qualGroupTable {
  float: left;
  padding-right: 20px;
}
  
.leftInfoDiv td {
  padding-right: 10px;
}

.objectPhoto {
  max-width: 400px;
  margin: 10px;
}

.labelTd {
  padding-right: 10px;
}

.sumTr {
  border-top: 1px solid black;
}

.sumTd {
  border-top: 1px solid black;
}

.costTd {
  padding-left: 20px;
}

.selectTd {
  padding-right: 10px;
}

select {
  max-width: 250px;
}

#loggedInOut {
  padding-top: 20px;
  clear: both;
}

#payPalImg {
  margin-top: 20px;
}

.toolTip {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  border: solid 1px black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.allocEdit {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  border: solid 1px black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 1;
}

li {
  display: list-item;
}

#paymentMethodTable {
  margin-top: 20px;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  color: red;
}

#imageForm {
  float: right;
}

input[type=text], input[type=password] {
  color: #000000;
  padding: 0px;
  font-size: 12px;
  line-height: 12px;
}

.curCalc {
  width: 5em;
  margin: 10px;
}

.emailTd {
  width: 100px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.big {
  font-size: 125%;
  font-weight: bold;
}

#arriveMenu {
 float: left; 
}

#tabs {
  clear: both;
}

.tabs {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  float: left;
}