#branding #searchform {
  display: none;
}

#logoutFooter {
  border-top: 1px solid #ddd;
}

#loginFooter {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

#clearer {
  clear: both;
  padding-bottom: 15px;
}

#imageUpload {
  height: 1px;
  width: 1px;
  position: relative;
  z-index: -1;
}

#currency_combobox {
  width: 50px;
}

#payPalForm {
  margin-right: 15px;
}

div.photoPopup {
  display: none;
  max-width: 1000px;
  max-height: 600px;
}

img.popupPhoto {
  display: none;
  max-width: 970px;
  max-height: 570px;
}

span.currency {
  width: 60px;
  text-align: right;
  display: inline-block;
  margin-left: 10px;
}

span.sum {
  border-top: 1px #4F4F4F solid;
} 

.preview {
  max-width: 450px;
  max-heigth: 900px;
}

.label {
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  width: 130px;
  height: 20px;
  text-align: right;
  margin-right: 10px;
}

label.short {
  width: 92px;
}

input[type=text], input[type=password] { 
  color: #4F4F4F;
  width: 210px;
  height: 20px;
  border: 1px solid #B6B6B6;
  margin: 0;
  background: #eeded url(images/bg_fallback.png) 0 0 repeat-x;
  background: -moz-linear-gradient(top, #ededed 0%, #c4c4c4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c4c4c4));
  background: -webkit-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
  background: -o-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
  background: -ms-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
  background: linear-gradient(top, #ededed 0%,#c4c4c4 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
}

input.short {
  width: 86px;
}

div.noInput {
  padding-top: 5px;
}

span.short {
  display: inline-block;
  width: 102px;
}

.addIcon {
  cursor: pointer;
  position: relative;
  top: 3px;
  left: 40px;
}

.closeIcon {
  cursor: pointer;
  position: relative;
  top: 3px;
  left: 2px;
}

.icon {
  cursor: pointer;
}

.italic {
  font-style: italic;  
}

.bold {
  font-weight: bold;  
}

.left {
  float: left;
}

.right {
  float: right;
}

.nowrap {
  white-space: nowrap;
}

.inlineBlock {
  display: inline-block;
}

.hidden {
  display: none;
}

